form {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 50%;
    margin: auto;
}

#submit {
    width: 15%;
    margin: auto;
}

#button-1:hover {
    background-color: red;

}
 
#label_name:focus {
    border-style: solid;
    outline: 0;
}

#label2:focus {
    border-style: solid;
}





