form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#submit {
    width: 15%;
    margin: auto;
  
}

#submit:hover{

    background-color: aquamarine;
    color: antiquewhite;
}
#button-1 {
    width: 15%;
    margin: auto;
   

}

#button-1:hover {
    background-color: darkcyan;
 color: aliceblue;

}
 
#label_name:focus {
    border-style: solid;
    outline: 0;
}

#label2:focus {
    border-style: solid;
    outline: 0;
}

input {
    margin: 10px;
}

body {
    background-color: tomato;
}





