<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <header></header>
    <div>
        <main>
            <article>
                <section></section>
                <section></section>
                <section></section>
            </article>
            <footer id="f1">
                <p> </p>
            </footer>
        </main>

        <aside>
            <section id="s1">yes</section>
            <section id="s2">ok</section>
        </aside>
    </div>
    <footer>
        <p> </p>
    </footer>

</body>

</html>